* {
  padding: 0;
  margin: 0;
}

body {
    font-family: "Young Serif", serif;
    font-size: 16px;
    font-weight:normal;
}

.container{
  padding: 30px;
}

.section-1{
  background-color: black;
  color:white;
  padding:20px;
}

.section-1__contact{
  display: inline-block;
  background-color: orangered;
  color:white;
  text-decoration: none;
  padding:3px 10px;
  margin-top: 5px;
}

.section-1__name{
  font-size: 30px;
}

.section-1__role{
  font-size: 18px;
}

.section-2 ,.section-3,.section-4,.section-5{
  margin-top: 20px;
}

.section-2__description,.section-3__description,
.section-4__description,.section-5__description{
  margin-top: 10px;
}

.section-5{
  background-color: black;
  color: white;
  padding: 20px;
}

.section-5__title a{
  color:skyblue;
}

.section-3__description,.section-4__description{
  list-style: none;
}

.section-3{
  display: inline-block;
  background-color: blue ;
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  margin-right: 3px;
  height: 150px;
  vertical-align: top;
}

.section-4{
  display: inline-block;
  background-color: rgb(255, 136, 0);
  font-size: 12px;
  padding: 10px;
  border-radius: 10px;
  height: 150px;
  vertical-align: top;
}

.contact-form , .contact-form__input , .contact-form__message , 
.contact-form__submit{
  margin-top: 10px;
}

.contact-form__input{
  padding: 5px;
  border: none;
  border-bottom: solid black 1px;
}

.contact-form__message{
  padding: 5px;
  border: none;
  border-bottom: solid black 1px;
}

.contact-form__submit{
  padding: 5px 10px;
  background-color: orangered;
}